# Assignment 01

The first task, imports the data files into the R environment. This is done by using the "read.csv" command to import in the two datasets (ct1.csv and ct2.csv).

In [1]:
ct1 <- read.csv(file = "../datasets/exercises/01/ct1.csv", header = TRUE, sep = ",")
ct2 <- read.csv(file = "../datasets/exercises/01/ct1.csv", header = TRUE, sep = ",")

In [ ]:
Check the data is successfully loaded in the ct1 and ct2 variables using the "head" function.

In [7]:
head (ct1, 5) # shows first 5 rows of ct1 dataframe
head (ct2, 5) # shows first 5 rows of ct2 dataframe

  dist     age weight   ftworker uid
1 6.536524 62  88.56630 0        10001
2 5.095941 36  94.15676 1        10002
3 3.402865 23  57.84734 1        10003
4 7.177867 48  22.97274 1        10004
5 3.731175 42  89.29586 0        10005

  dist     age weight   ftworker uid
1 6.536524 62  88.56630 0        10001
2 5.095941 36  94.15676 1        10002
3 3.402865 23  57.84734 1        10003
4 7.177867 48  22.97274 1        10004
5 3.731175 42  89.29586 0        10005